@charset "UTF-8";
@import '../../Styles/shared';

//****************************************************************************
// Component | Radiobutton
//****************************************************************************

$radio-size: 1.5rem;

.themeradio {
	[type='radio'] {
		left: -999rem;
		position: absolute;

		&:focus + label {
			@include focusEffect;
		}

		&:disabled + label {
			color: lighten($black, 40%);
			cursor: default;

			&::before {
				background-color: lighten($black, 80%);
				border: 0.1rem solid lighten($black, 80%);
				border-color: lighten($black, 80%);
			}

			&::after {
				color: lighten($black, 40%);
			}
		}
	}

	//label
	[type='radio'] + label {
		@extend %radioCheckboxSharedProperties;
		min-height: $radio-size;
		padding: 0.5rem 0.5rem 0.5rem 2.5rem;

		&:hover {
			background-color: $grayBlack;
		}

		//bg
		&::before {
			background: none;
			border: 0.15rem solid $main;
			border-radius: $radio-size;
			box-shadow: $globalShadow;
			content: '';
			height: $radio-size;
			left: 0.5rem;
			position: absolute;

			transition: background-color 0.2s;
			width: $radio-size;
		}
	}

	[type='radio']:checked + label {
		&::before {
			@include themebackground(tertiary);
			background-color: $tertiary;
		}
	}
}
