//***********************************************************************
//Default colors
//***********************************************************************

//accents
$main: #75ab35 !default;
$alt: #c4f56b !default;
$tertiary: rgb(215, 250, 210) !default;
$link: #23d5ab;

//basics grays
$gray-black: #222 !default; //extreme dark gray
$gray-dark: rgba(50, 50, 50, 1) !default; //body primary dark
$gray-medium: rgba(110, 110, 110, 1) !default; //disable color
$gray-light: rgba(220, 220, 220, 1) !default; //general text color

//basic
$white: #fff !default;
$black: rgb(0, 0, 0) !default;

//***********************************************************************
//Variables
//***********************************************************************

//fonts
$body-font: 'Rubik', sans-serif !default;
$body-font: 'fira-sans', sans-serif !default;
$heading-font: 'Rubik', sans-serif !default;
$heading-font: 'fira-sans', sans-serif !default;
$heading-font: 'Roboto', sans-serif !default;

//globals
$global-font-size: 0.95rem;
$global-radius: 0.35rem !default;
$global-shadow: 0 0 0.4rem transparentize($black, 0.5) !default;
$global-shadow-inset: 0 0 0.4rem transparentize($black, 0.5) inset !default;
$global-content-paddingw: 1rem !default;
$global-transition-color: color 0.8s, background-color 0.8s;

//information colors
$error-color: #db6154 !default;
$info-color: #accff0 !default;
$warn-color: #ff970e !default;
$success-color: #75ab35 !default;
