@charset "UTF-8";
@import 'shared';

//*******************************************************************************************************************************************************
// Plugin overwrites
//******************************************************************************************************************************************************


//****************************************************************************
// Plugin (style overwrite) | React-Table
//****************************************************************************

.ReactTable {
	border: 0.1rem solid transparentize($color: $gray-black, $amount: 0.5);
	border-radius: $global-radius;
	box-shadow: $global-shadow;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.75rem;

	.rt-tbody {
		border: 0.1rem solid transparentize($color: $gray-black, $amount: 0.5);
		border-radius: $global-radius;

		.rt-tr-group {
			background-color: $gray-dark;
			border: 0.1rem solid transparentize($color: $gray-black, $amount: 0.5);
			border-bottom: 0.1rem solid $gray-black;
			position: relative;
         transition: background-color 0.2s ease-in-out;
         
         .rt-td {
            padding: .3rem;
         }

			.rt-td:not(:last-child) {
				border-right: 0.1rem solid $gray-black;
			}

			&:hover,
			&:nth-child(odd):hover {
				background-color: desaturate(adjust-hue(mix($gray-black, $main, 20%), 40%), 30%);
			}

			&:nth-child(odd) {
				background-color: $gray-dark;
			}

			&:first-child {
				border-top-left-radius: $global-radius;
				border-top-right-radius: $global-radius;
			}

			&:last-child {
				border-bottom-left-radius: $global-radius;
				border-bottom-right-radius: $global-radius;
			}
		}
	}
}

//****************************************************************************
// Plugin (style overwrite) | RC-Tooltip
//****************************************************************************

.rc-tooltip {
	box-shadow: $global-radius;
	color: $gray-black;
	max-width: 14rem;
	opacity: 1;
}

.rc-tooltip.rc-tooltip-animate-enter,
.rc-tooltip.rc-tooltip-animate-leave {
	display: block;
}

.rc-tooltip-animate-enter,
.rc-tooltip-animate-appear {
	animation-duration: 0.2s;
	animation-fill-mode: both;
	animation-play-state: paused;
	animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
	opacity: 0;
}

.rc-tooltip-animate-leave {
	animation-duration: 0.2s;
	animation-fill-mode: both;
	animation-play-state: paused;
	animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
}

.rc-tooltip-animate-enter.rc-tooltip-animate-enter-active,
.rc-tooltip-animate-appear.rc-tooltip-animate-appear-active {
	animation-name: tooltipFadeIn;
	animation-play-state: running;
}

.rc-tooltip-animate-leave.rc-tooltip-animate-leave-active {
	animation-name: tooltipFadeOut;
	animation-play-state: running;
}
@keyframes tooltipFadeIn {
	0% {
		opacity: 0;
		transform: scale(0, 0);
		transform-origin: 50% 50%;
	}

	100% {
		opacity: 1;
		transform: scale(1, 1);
		transform-origin: 50% 50%;
	}
}
@keyframes tooltipFadeOut {
	0% {
		opacity: 1;
		transform: scale(1, 1);
		transform-origin: 50% 50%;
	}

	100% {
		opacity: 0;
		transform: scale(0, 0);
		transform-origin: 50% 50%;
	}
}

//*************************************************************************************************
// Plugin overwrite | React-Select
//*************************************************************************************************

.react-select {
   min-width: 25%;
   // margin-top: .5rem;
   cursor: pointer;

	.react-select__control {
      background-color: $gray-dark;
      color: $gray-light;
      border-color: $main;
      border-radius: $global-radius;


		&:hover {
			border-color: $main;
		}

		.reactselect__value-container, .react-select__value-container--has-value {
         color: $gray-light;
         padding: .1rem;

         .react-select__single-value {
            color: $gray-light !important;
         }
		}

		.reactselect__indicators {
         color: $gray-light;
         padding: .2rem;

		}
	}

	.react-select__control--is-focused {
		@include focusEffect();
		border-color: $main;
	}

	.react-select__menu {
      background-color: $gray-black;

		.react-select__menu-list {
			.react-select__option:hover {
				background: transparentize($color: $main, $amount: 0.7);
			}

			.react-select__option--is-focused {
				background: transparentize($color: $main, $amount: 0.7);
			}

			.react-select__option--is-selected {
				background: $main;
         }
         
		}
   }
}


